@charset "UTF-8";
/* CSS Document */
body {
    font-family: "arial", "sans=serif";
    border: none;
    background-image: url("../static/images/triangle-mosaic.png");
}
p {
	font-size: 12pt;
	text-decoration-color: crimson;
	text-emphasis-color: yellow;
}
.formtitle {
    font-size: 22pt;
    color: black;
    font-family: abril-fatface;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}
.heading {
    font-size: 75px;
    font-family: abril-fatface;
    text-align: center;
    background-size: auto;
    color: white;
    border: none;
    background-image: url("../static/images/mosaic.png");
    font-style: normal;
    font-weight: 400;
}
.link{
	font-size: 8pt;
	color: crimson;
}
#linklogin{
	font-size: 8pt;
	color: crimson;
	text-align: center;
}
.login{
	text-align:center;
}
.center {
  align: center;
}
.button {
    background-color: white;
    color: black;
    border: 2px none #555555;
    padding: 3px;
}

.button:hover {
  background-color: #555555;
  color: white;
}
.column1, .column2, .column3{
  width: 33%;
  float: left;
}
.clear{
  clear: left;
}
.headbutton {
    /* [disabled]background-color: slategray; */
    color: white;
    border: none;
    padding: none;
    background: none;
}
.headbutton:hover {
    background-color: white;
    color: black;
}
tr:hover {
	background-color: #708090;
}
