<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="Description" content="password recovery for users">
	<meta name="author" content="Garrett W Jennings">
	<meta name="keywords" content="password recovery, password, search engine, local search">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Password Recovery</title>
<link rel="stylesheet" type="text/css" href="../../static/inc/style.css">
<script>var __adobewebfontsappname__="dreamweaver"</script>
	<script src="http://use.edgefonts.net/abril-fatface:n4:default.js" type="text/javascript"></script>
</head>

<body>
	<header class="heading">
		Local Search Engine<br>
		<form action="/search/search"><button class="headbutton" title="New Search">New Search</button></form>
	</header>
	<div class="column1"><p><br></p></div>
	<form class="login column2" method="POST" onsubmit="return check()" action="/usercontrol/newpassword">
		{% csrf_token %}
		<fieldset>
		<legend class="formtitle">Password Recovery</legend><br>
	<label class="login">Username:</label>
<!--		<input type="text" name="textfield" id="textfield" required>-->
			{{recovery.username}}
			<br><br>
		<label>Security Question:</label>
<!--		<input type="text" name="question" id="question" required>-->
			{{recovery.security}}
			<br><br>
	<label class="login">Answer:</label>
<!--		<input class="text" name="answer" id="answer" required>-->
			{{recovery.answer}}
			<br><br>
		<input name="Login" type="submit" class="button" formtarget="_self" align="middle">
<!--		onclick="location.href='newpassword.html'">-->
		</fieldset>
	</form>
	<div class="column3"><p><br></p></div>
</body>
</html>